<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Contacts</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">
        <a href="/">🏠 Home</a>
        <a href="/shelter">🗺️ Nearby Safe Places</a>
        <a href="/alerts">🚨 Alerts</a>
        <a href="/kit">🎒 Emergency Kit</a>
        <a href="/family">👨‍👩‍👧 Family Plan</a>
        <a href="/contacts">☎️ Contacts</a>
    </nav>

    <div class="container">

        <div class="page-header">
            <h1>☎️ Emergency Contacts</h1>
            <p>Save important emergency phone numbers.</p>
        </div>

        <section class="status-card">

            <label>Contact Name</label>
            <input type="text" id="contactName">

            <br><br>

            <label>Phone Number</label>
            <input type="text" id="contactPhone">

            <br><br>

            <button id="saveContact">
                Save Contact
            </button>

            <div id="savedContacts"></div>

        </section>

    </div>
    <script src="{{ url_for('static', filename='js/contacts.js') }}"></script>

</body>

</html>