<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nearby Safe Places</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>

<body>
    <nav class="navbar">
        <a href="/">🏠 Home</a>
        <a href="/shelter">🗺️ Nearby Safe Places</a>
        <a href="/alerts">🚨 Alerts</a>
        <a href="/kit">🎒 Emergency Kit</a>
        <a href="/family">👨‍👩‍👧 Family Plan</a>
    </nav>
    <main class="dashboard">

        <h1>🗺 Nearby Safe Places</h1>

        <p>
            This page will show nearby emergency resources.
        </p>

        <div id="map"></div>

        <br>

        <a href="/" class="action-card">
            ← Back to Home
        </a>

    </main>

    <script src="{{ url_for('static', filename='js/shelter.js') }}"></script>

</body>

</html>